.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  @media screen and (min-width: 300px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.buttons {
  display: flex;

  @media screen and (min-width: 300px) {
    padding: 1.2rem 0;
  }
}

.delete {
  background-color: rgb(194, 61, 61);
  color: white;
}

.checkmark {
  border: none;
  background-color: transparent;

  outline: none !important;
}
