.tasklist {
  max-width: 1030px;
  margin: 3rem auto;

  @media screen and (min-width: 300px) {
    max-width: 100%;
    justify-content: center;

    margin: 0 auto;
  }
}

.task-item {
  display: flex;
  align-items: center;

  /* @media screen and (max-width: 436px) {
    display: block;
  } */
}

/* .checkmark {
  @media screen and (max-width: 436px) {
    position: absolute;
  }
} */

.edit-form {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 300px) {
    justify-content: center;
  }
}
